@import "config";

@include mediaLg {
    header {
        background-image: url(../assets/img/BackHeader.png);
        height: 150px;
    }
    
    .off-canvas {
        width: 15%;

    }

    //Setting variables for transition of the logo
    // $transition-property: transform;
    // $transition-duration: 0.25s;
    // $transition-timing: ease-in-out;
    // $transition-delay: 0s;

    //setting variables for transformation of the logo
    // $transform-rotation-degrees: 10deg;
    // $transform-x-translation: 5rem;
    // $transform-y-translation: 0rem;
    // $transform-scale: 2;

    #logo {
        width: 200px;
        // @include mixin-transition;

        // &:hover {
        //     @include mixin-transform;
        // }
    }

    .img-left,
    .img-right {
        position: relative;
        top: 3.5rem;

    }

    .img-left {
        left: 1rem;

    }

    .img-right {
        right: 1rem;

    }


}