@import "config";

@include mediaLg {
    .off-canvas {
        width: 15%;

    }

    #logo {
        width: 200px;
        
    }

    .img-left,
    .img-right {
        position: relative;
        top: 3.5rem;

    }

    .img-left {
        left: 1rem;

    }

    .img-right {
        right: 1rem;

    }


}