@import "config";

//BEGINNING GENERAL STYLES ========================================================================================================
body {
    background: $color-white;
    font-family: 'Imprima', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title-font;
}

h1 {
    font-size: 3.5em;
    display: block;
    color: $color-four;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5em;
    display: block;
    color: $color-three;
    text-transform: uppercase;
}

h3 {
    font-size: 1.6em;
    display: block;
    padding: 14px 0.5em;
    color: $color-four;
}

h4 {
    font-size: 1.2em;
    padding: 0.5em;
    color: $color-black;
    text-align: center;
}

h5 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
}

input,
textarea,
button,
label {
    @include title-font;
}

// Removed by JR to pass validation
button a {
    color: $color-white;

    &::after {
        color: $color-four;
    }
}

label {
    color: $color-white;
    padding-bottom: 5px;
}

//Site wide title controller
.section-title {
    color: $color-four;
    padding: 0.5rem;
}

//Site wide contact form controller
input,
textarea,
button,
label {
    @include title-font;
}

label {
    color: $color-white;
    padding-bottom: 5px;
}

textarea {
    padding: 8px;
}

//END GENERAL STYLES =================================================================================================================

//BEGINNING NAVIGATION MENU STYLES====================================================================================================
$color-three: rgba(2, 38, 1, 0.9);

.off-canvas {
    background-color: $color-three;
    width: 100%;

}

$color-three: rgba(2, 38, 1, 1);

.off-canvas.is-transition-overlap {
    z-index: 200;
}

.top-bar-container,
.off-canvas {
    @include nav-font;

    a {
        color: $color-white;

        &:hover {
            color: $color-four;
        }
    }

    .menu {

        li {
            button {
                color: $color-one;
            }
        }
    }
}

.top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.title-bar {
    background: transparent;

}

$color-white: rgba(255, 255, 255, 0.9);

.sticky-navbar {
    background: $color-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    a {
        color: $color-three;
    }
}

$color-white: rgba(255, 255, 255, 1);
//END NAVIGATION MENU STYLES =================================================================================================================

//BEGINNING BODY STYLES ??????????????????????????????????????????????????????????????????????????????????????????????????????????????
//Styling the carousel
.orbit-slide-1,
.orbit-slide-2,
.orbit-slide-3,
.orbit-slide-4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

    p {
        @include title-font;
        font-size: 3rem;
        color: $color-white;
        margin: 0;
    }

}

$color-white: rgba(255, 255, 255, 0.1);
$color-black: rgba(0, 0, 0, 0.8);

.orbit-slide-1 {
    background-image: linear-gradient(to bottom, $color-black, $color-white), url(../img/yellow-flower.JPG);

}

.orbit-slide-2 {
    background-image: linear-gradient(to bottom, $color-black, $color-white), url(../img/yellow-blue-flowers.JPG);

}

.orbit-slide-3 {
    background-image: linear-gradient(to bottom, $color-black, $color-white), url(../img/pink-flowers.jpg);

}

.orbit-slide-4 {
    background-image: linear-gradient(to bottom, $color-black, $color-white), url(../img/yellow-flower-2.JPG);

}

$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

//A height must be specified to make the grid-y work
.hero-grid-y-height {
    height: 100vh;
}
//End styling carousel

//Setting variables for box shadows on about page boxes
$color-black: rgba(10, 20, 23, 0.4); //Setting color-eight opacity for box shadow
$box-shadow: 5px 5px 0 $color-black;

.box-shadowed {
    @include box-shadow;
}

$color-black: rgba(10, 20, 23, 1); //Re-declaring the original color-eight after using it

//Styling of the cards with product categories
$color-white: rgba(255, 255, 255, 0.1);
$color-black: rgba(0, 0, 0, 0.6);

.card {
    position: relative;

    img {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;

        &:hover {
            -webkit-transform: scale(1.25);
            transform: scale(1.25);
            overflow: hidden;
        }
    }

    span {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 100%;
        padding: 5px 0;
        @include body-font;
        font-size: 2rem;
        background: linear-gradient(to top, $color-black, $color-white);
    }
}

.card.fadeInUp {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

.card {
    span {

        p {
            color: $color-white;
            font-size: 2.5rem;
            @include title-font;
            text-transform: uppercase;
            margin: 0;
        }
    }
}

//End of styling cards with product categories

//Styling of the separator on home page
$color-one: rgba(6, 115, 2, 0.6);

.separator {
    background-color: $color-one;
    color: $color-white;

    p {
        font-size: 2rem;
    }

}

$color-one: rgba(6, 115, 2, 1);

//Styling of the products cards
.prod {
    img {
        background: $color-white;
        border-radius: 50%;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;

        &:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            overflow: hidden;
        }
    }

}

.prod-desc {
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    background: $color-white;

    h3 {
        color: $color-one;
    }

    p {
        color: $color-black;
    }

    &:hover {
        p {
            color: $color-four;
            text-decoration: underline;
        }
    }
}

.card.fadeInUp {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

//End of styling cards with product categories

.google-maps {
    padding-bottom: 30vh;

    iframe {
        height: 30vh;
    }
}

//END BODY STYLES ??????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????

//BEGINNING BUTTONS STYLES =================================================================================================================
//INSERTED TO PASS VALIDATION

//Fanny's button
.boom-button-white {
    @include title-font;
    border-radius: 0.7rem;
    padding: .5rem 1.5rem;
    margin-bottom: 15px;
    color: $color-white;
    border: solid 2px $color-white;
    background-color: transparent;
    z-index: 1;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        z-index: -1;
        background-color: hsla(0, 0%, 100%, 0.2);
        position: absolute;
        top: -120%;
        bottom: -50%;
        width: 2em;
        transform: translateX(-525%) rotate(35deg);
    }

    &:hover {
        box-shadow: 2px 2px 0px 0px rgba($color-black, .4) inset;
        background-color: transparent;
        cursor: pointer;
        color: $color-white;
    }

    &:hover::after {
        transition: transform 0.45s ease-in-out;
        transform: translateX(200%) rotate(35deg);
    }
}

//END BUTTONS STYLES =========================================================================================================

//BEGINNING FOOTER STYLES ????????????????????????????????????????????????????????????????????????????????????????????????????
footer {
    background-color: $color-white;

    a {
        color: $color-one;

        &:hover {
            color: $color-four;
        }
    }
}

//END FOOTER STYLES ??????????????????????????????????????????????????????????????????????????????????????????????????????????