/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Removed for accessibility guidleines iframe,*/
html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

.category {
  visibility: hidden; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.text-uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url(//fonts.googleapis.com/css?family=Indie+Flower&display=swap); }

@font-face {
  font-family: 'Gloria Hallelujah', cursive;
  src: url(//fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap); }

@font-face {
  font-family: 'Imprima', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Imprima&display=swap); }

.test {
  border: 1px solid red; }

.text-uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url(//fonts.googleapis.com/css?family=Indie+Flower&display=swap); }

@font-face {
  font-family: 'Gloria Hallelujah', cursive;
  src: url(//fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap); }

@font-face {
  font-family: 'Imprima', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Imprima&display=swap); }

.test {
  border: 1px solid red; }

body {
  background: white;
  font-family: 'Imprima', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive !important;
  padding: 1.5rem; }

h1 {
  font-size: 2.5em;
  display: block;
  padding-bottom: 0.5rem;
  color: #84d904;
  text-transform: uppercase; }

h2 {
  font-size: 2.5em;
  display: block;
  color: #022601;
  text-transform: uppercase; }

h3 {
  font-size: 1.8em;
  display: block;
  color: #84d904; }

h4 {
  font-size: 1.6em;
  padding: 0.5em;
  color: black;
  text-align: center; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

p {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 1.5rem; }

input,
textarea,
button,
label {
  font-family: 'Imprima', sans-serif !important;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: black; }

.button {
  background: #055902;
  border-radius: 15px;
  color: white; }
  .button:hover {
    background: #84d904;
    color: #055902;
    border: 1px solid #055902; }

.off-canvas {
  background-color: rgba(2, 38, 1, 0.9);
  width: 100%; }

.off-canvas.is-transition-overlap {
  z-index: 200; }

.top-bar-container {
  font-family: 'Gloria Hallelujah', cursive !important;
  font-size: 1rem; }
  .top-bar-container a {
    color: #022601; }
    .top-bar-container a:hover {
      color: #84d904; }

.home-nav,
.off-canvas {
  font-family: 'Gloria Hallelujah', cursive !important;
  font-size: 1rem; }
  .home-nav a,
  .off-canvas a {
    color: white; }
    .home-nav a:hover,
    .off-canvas a:hover {
      color: #84d904; }

.home-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

.title-bar {
  background: transparent; }

.sticky-navbar {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .sticky-navbar a {
    color: #022601; }

.page-active a {
  color: #84d904; }

.orbit-slide-1,
.orbit-slide-2,
.orbit-slide-3,
.orbit-slide-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  .orbit-slide-1 p,
  .orbit-slide-2 p,
  .orbit-slide-3 p,
  .orbit-slide-4 p {
    font-family: 'Indie Flower', cursive !important;
    font-size: 3rem;
    line-height: 3.5rem;
    color: white;
    margin: 0; }

.orbit-slide-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(../img/yellow-flower.JPG); }

.orbit-slide-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(../img/yellow-blue-flowers.JPG); }

.orbit-slide-3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(../img/pink-flowers.jpg); }

.orbit-slide-4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(../img/yellow-flower-2.JPG); }

.hero-grid-y-height {
  height: 100vh; }

.page-title-bar {
  background-color: rgba(5, 89, 2, 0.8);
  text-align: center; }
  .page-title-bar a,
  .page-title-bar p {
    color: white;
    font-size: 1rem; }
  .page-title-bar a:hover {
    color: #84d904;
    text-decoration: underline; }

.box-shadowed {
  -webkit-box-shadow: 5px 5px 0 rgba(10, 20, 23, 0.4);
  -moz-box-shadow: 5px 5px 0 rgba(10, 20, 23, 0.4);
  box-shadow: 5px 5px 0 rgba(10, 20, 23, 0.4); }

.card {
  position: relative; }
  .card img {
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .card img:hover {
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
      overflow: hidden; }
  .card span {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 5px 0;
    font-family: 'Imprima', sans-serif !important;
    font-size: 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1)); }

.card.fadeInUp {
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

.card span p {
  color: white;
  font-size: 2.5rem;
  font-family: 'Indie Flower', cursive !important;
  text-transform: uppercase;
  margin: 0; }

.separator {
  background-color: rgba(6, 115, 2, 0.6);
  color: white; }
  .separator p {
    font-size: 2rem; }

.prod img {
  background: white;
  border-radius: 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .prod img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    overflow: hidden; }

.prod-desc {
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  background: white; }
  .prod-desc h3 {
    color: #067302; }
  .prod-desc p {
    color: black; }
  .prod-desc:hover p {
    color: #84d904;
    text-decoration: underline; }

.card.fadeInUp {
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

.google-maps {
  padding-bottom: 60vh; }
  .google-maps iframe {
    height: 60vh; }

.boom-button-white {
  font-family: 'Indie Flower', cursive !important;
  border-radius: 0.7rem;
  padding: .5rem 1.5rem;
  margin-bottom: 15px;
  color: white;
  border: solid 2px white;
  background-color: transparent;
  z-index: 1;
  position: relative;
  overflow: hidden; }
  .boom-button-white::after {
    content: '';
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -120%;
    bottom: -50%;
    width: 2em;
    transform: translateX(-525%) rotate(35deg); }
  .boom-button-white:hover {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.4) inset;
    background-color: transparent;
    cursor: pointer;
    color: white; }
  .boom-button-white:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(200%) rotate(35deg); }

footer {
  background-color: white; }
  footer a {
    color: #067302; }
    footer a:hover {
      color: #84d904; }

.text-uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url(//fonts.googleapis.com/css?family=Indie+Flower&display=swap); }

@font-face {
  font-family: 'Gloria Hallelujah', cursive;
  src: url(//fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap); }

@font-face {
  font-family: 'Imprima', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Imprima&display=swap); }

.test {
  border: 1px solid red; }

@media screen and (min-width: 668px) {
  .off-canvas {
    width: 20%; }
  .page-title-bar {
    text-align: unset; }
    .page-title-bar h1 {
      text-align: left; }
    .page-title-bar a,
    .page-title-bar p {
      text-align: right; }
  .orbit-slide-1 p,
  .orbit-slide-2 p,
  .orbit-slide-3 p,
  .orbit-slide-4 p {
    font-size: 4rem; } }

.text-uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Indie Flower', cursive;
  src: url(//fonts.googleapis.com/css?family=Indie+Flower&display=swap); }

@font-face {
  font-family: 'Gloria Hallelujah', cursive;
  src: url(//fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap); }

@font-face {
  font-family: 'Imprima', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Imprima&display=swap); }

.test {
  border: 1px solid red; }

@media screen and (min-width: 1024px) {
  .orbit-slide-1 p,
  .orbit-slide-2 p,
  .orbit-slide-3 p,
  .orbit-slide-4 p {
    font-size: 5rem; } }
