/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Removed for accessibility guidleines iframe,*/
html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

.category {
  visibility: hidden; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Fjalla+One); }

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Quicksand); }

.test {
  border: 1px solid red; }

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Fjalla+One); }

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Quicksand); }

.test {
  border: 1px solid red; }

.off-canvas {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%; }

.off-canvas.is-transition-overlap {
  z-index: 200; }

.top-bar-container,
.off-canvas {
  font-family: 'Fjalla One', sans-serif; }
  .top-bar-container a,
  .off-canvas a {
    color: white; }
    .top-bar-container a:hover,
    .off-canvas a:hover {
      color: #bf0404; }
  .top-bar-container .menu li button,
  .off-canvas .menu li button {
    color: #bf0404; }

.title-bar {
  background: #65a603; }

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

#mobile-logo {
  width: 150px; }

.multilevel-accordion-menu .is-accordion-submenu-parent a {
  background: #4d5158; }

.multilevel-accordion-menu .is-accordion-submenu a {
  background: #35383d; }

.multilevel-accordion-menu .sublevel-1 {
  text-indent: 1rem; }

.multilevel-accordion-menu .sublevel-2 {
  text-indent: 2rem; }

.multilevel-accordion-menu .sublevel-3 {
  text-indent: 3rem; }

.multilevel-accordion-menu .sublevel-4 {
  text-indent: 4rem; }

.multilevel-accordion-menu .sublevel-5 {
  text-indent: 5rem; }

.multilevel-accordion-menu .sublevel-6 {
  text-indent: 6rem; }

.multilevel-accordion-menu .multilevel-accordion-menu a {
  color: white;
  box-shadow: inset 0 -1px #41444a; }
  .multilevel-accordion-menu .multilevel-accordion-menu a::after {
    border-color: white transparent transparent; }

.multilevel-accordion-menu .menu > li:not(.menu-text) > a {
  padding: 1.2rem 1rem; }

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Fjalla+One); }

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Quicksand); }

.test {
  border: 1px solid red; }

body {
  background: black;
  font-family: 'Quicksand-Regular', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif !important; }

h1 {
  font-size: 2em;
  display: block;
  padding: 1em 0.5em;
  color: #bf0404;
  /*text-transform: uppercase;*/ }

h2 {
  font-size: 1.4em;
  padding-bottom: 1em;
  padding-top: 0.5em; }

h3 {
  font-size: 1.6em;
  display: block;
  padding: 14px 0.5em;
  color: #bf0404; }

h4 {
  font-size: 1.2em;
  padding: 0.5em;
  color: black;
  text-align: center; }

h5 {
  font-size: 1.1rem; }

p {
  font-size: 1rem; }

input,
textarea,
button,
label {
  font-family: 'Fjalla One', sans-serif !important; }

/* Removed by JR to pass validation
button a {
    color: $color-white;
}

button a::after {
    color: $color-five;
}*/
label {
  color: white;
  padding-bottom: 5px; }

.section-title {
  color: #bf0404;
  padding: 0.5rem; }

input,
textarea,
button,
label {
  font-family: 'Fjalla One', sans-serif !important; }

label {
  color: white;
  padding-bottom: 5px; }

textarea {
  padding: 8px; }

#boomPlayer {
  width: 100%;
  height: 100px;
  margin: 0; }

#embed-player {
  border-radius: 20px !important; }

.icons {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 0.5rem; }

.gradiented-box {
  border-radius: 5px; }
  .gradiented-box img {
    border-radius: 5px; }
  .gradiented-box.gradient-one-two {
    background-image: linear-gradient(to right, #65a603, #f2b705); }
  .gradiented-box.gradient-three-four {
    background-image: linear-gradient(to right, #65a603, #a67360); }
  .gradiented-box.gradient-five-six {
    background-image: linear-gradient(to right, #f2b705, #bf0404); }

.box-shadowed {
  -webkit-box-shadow: 5px 5px 0 rgba(10, 20, 23, 0.4);
  -moz-box-shadow: 5px 5px 0 rgba(10, 20, 23, 0.4);
  box-shadow: 5px 5px 0 rgba(10, 20, 23, 0.4); }

.card {
  border: 0 !important; }
  .card img {
    -webkit-box-shadow: 5px 5px 5px rgba(83, 81, 86, 0.4);
    -moz-box-shadow: 5px 5px 5px rgba(83, 81, 86, 0.4);
    box-shadow: 5px 5px 5px rgba(83, 81, 86, 0.4); }

.card-section {
  background-color: #535156;
  color: white;
  font-family: 'Quicksand-Regular', sans-serif; }

.bio {
  width: 100%; }
  .bio p {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem; }

.shared {
  margin-bottom: 0.7rem; }

.google-maps {
  padding-bottom: 30vh; }
  .google-maps iframe {
    height: 30vh; }

/*
REMOVED BY JR TO PASS VALIDATION
button.boom-button,
button.boom-button-dark {
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    color: $color-white;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, $color-five, $color-five);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $color-nine inset;
}

button.boom-button:hover,
button.boom-button-dark:hover {
    box-shadow: none;
    color: white;
}

button.boom-button-dark {
    box-shadow: 2px 1000px 1px $color-black inset;
}*/
a.boom-button {
  font-family: 'Fjalla One', sans-serif !important;
  border-radius: 0.7rem;
  padding: .5rem 1.5rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #bf0404, #bf0404);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #535156 inset;
  z-index: 1;
  position: relative;
  overflow: hidden; }
  a.boom-button::after {
    content: '';
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -120%;
    bottom: -50%;
    width: 2em;
    transform: translateX(-525%) rotate(35deg); }
  a.boom-button:hover {
    box-shadow: 2px 2px 0px 0px rgba(10, 20, 23, 0.4) inset;
    cursor: pointer; }
  a.boom-button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(200%) rotate(35deg); }

.animation-container {
  width: 100%;
  height: 15px;
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .animation-container .sound-container {
    position: relative;
    top: 20px;
    left: 10px;
    width: 150px;
    height: 80%;
    display: inline-block;
    margin-left: 4px; }
  .animation-container .sound-container > div {
    /*position: relative;*/
    height: 100%;
    width: 0.05rem;
    background: #0a1417;
    display: inline-block;
    animation: wave 3s infinite ease-in-out;
    -webkit-animation: wave 3s infinite ease-in-out;
    -moz-animation: wave 3s infinite ease-in-out;
    -ms-animation: wave 3s infinite ease-in-out;
    -o-animation: wave 3s infinite ease-in-out; }
  .animation-container .sound-container .rect-2 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s; }
  .animation-container .sound-container .rect-3 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s; }
  .animation-container .sound-container .rect-4 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s; }
  .animation-container .sound-container .rect-5 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s; }
  .animation-container .sound-container .rect-6 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s; }

@keyframes wave {
  0% { }
  100% {
    transform: scaleY(1);
    background: #0a1417; }
  20% {
    transform: scaleY(3);
    background: #a67360; }
  33% {
    transform: scaleY(1);
    background: #d96907; }
  50% {
    transform: scaleY(3);
    background: #bf0404; }
  66% {
    transform: scaleY(1);
    background: #f2b705; }
  84% {
    transform: scaleY(3);
    background: #65a603; } }

.boom-button-white {
  font-family: 'Fjalla One', sans-serif !important;
  border-radius: 0.7rem;
  padding: .5rem 1.5rem;
  margin-bottom: 15px;
  color: white;
  border: solid 2px white;
  background-color: transparent;
  z-index: 1;
  position: relative;
  overflow: hidden; }
  .boom-button-white::after {
    content: '';
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -120%;
    bottom: -50%;
    width: 2em;
    transform: translateX(-525%) rotate(35deg); }
  .boom-button-white:hover {
    box-shadow: 2px 2px 0px 0px rgba(10, 20, 23, 0.4) inset;
    background-color: transparent;
    cursor: pointer;
    color: white; }
  .boom-button-white:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(200%) rotate(35deg); }

footer {
  background-color: #777; }
  footer a {
    color: #bf0404; }
    footer a:hover {
      color: white; }

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Fjalla+One); }

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Quicksand); }

.test {
  border: 1px solid red; }

@media screen and (min-width: 668px) {
  .icons {
    height: 70%;
    width: 70%; } }

@font-face {
  font-family: 'Fjalla One', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Fjalla+One); }

@font-face {
  font-family: 'Quicksand-Regular', sans-serif;
  src: url(//fonts.googleapis.com/css?family=Quicksand); }

.test {
  border: 1px solid red; }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../assets/img/BackHeader.png);
    height: 150px; }
  .off-canvas {
    width: 15%; }
  #logo {
    width: 200px; }
  .img-left,
  .img-right {
    position: relative;
    top: 3.5rem; }
  .img-left {
    left: 1rem; }
  .img-right {
    right: 1rem; } }
